.MenuItem {
  display: block;
}

.MenuItem__content--btn {
  cursor: pointer;
  border: 0;
}

.MenuItem__content--btn:focus {
  outline: 0;
}

.Menu--styled .MenuItem__content {
  display: block;
  font-size: inherit;
  line-height: 18px;
  padding: 4px 15px;
  position: relative;
}
