<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/sessions/session.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<div id="root"></div>