.PublicViewNavBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px 0;
  background-color: #6C5CE7;
}

.PublicView--create-workspace .PublicViewNavBar {
  background-color: #FFF;
}

.PublicViewNavBar .Btn__dropdown {
  color: rgba(255, 255, 255, 0.8);
}

.PublicViewNavBar .Btn__dropdown:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

.PublicViewNavBar .Btn__dropdown:hover {
  color: rgba(255, 255, 255, 1.0);
  border-color: rgba(255, 255, 255, 0.9);
}

.PublicViewNavBar .Btn__dropdown {
  text-transform: none;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  display: block;
  transition: border-color ease-in-out .2s,
              color ease-in-out .2s;
}

.PublicViewNavBar .Btn__dropdown--active {
  background-color: rgba(0, 0, 0, 0.125);
}

.PublicViewNavBar__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  min-height: 41px;
}

.PublicViewNavBar__logo {
  color: #FFF;
  display: block;
  font-weight: 700;
  font-size: 16px;
}

.PublicViewNavBar .MenuItem__content {
  padding: 10px 5px;
  display: block;
}

.PublicViewNavBar .Menu__public {
  margin-left: auto;
}

.PublicViewNavBar .Menu__public > .MenuItem,
.PublicViewNavBar .Menu__public > .MenuItem > .MenuItem__content {
  color: rgba(255, 255, 255, 0.8);
  transition: color ease-in-out .2s
}

.PublicViewNavBar .Menu__public > .MenuItem > .MenuItem__content:focus,
.PublicViewNavBar .Menu__public > .MenuItem > .MenuItem__content:hover {
  color: rgba(255, 255, 255, 1.0);
}

.Modal__dropdown--public .Menu {
  padding: 15px 10px;
}

.Modal__dropdown--public .Menu .MenuItem > .MenuItem__content {
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color ease-in-out .15s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Modal__dropdown--public .Menu .MenuItem > .MenuItem__content:hover {
  background-color: rgba(223, 230, 233, 0.45);
}

.Modal__dropdown--public .Menu__dropdown--filled .MenuItem__signout {
  border-bottom: 1px solid #DFE6E9;
  margin-bottom: 7px;
  padding-bottom: 8px;
}

.Modal__dropdown--public .Menu__dropdown--filled .MenuItem:last-child {
  border-top: 1px solid #DFE6E9;
  margin-top: 7px;
  padding-top: 8px;
}

@media screen and (min-width: 577px) {
  .PublicViewNavBar .Menu--row > li.MenuItem__dropdown-mobile {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .PublicViewNavBar .Btn__dropdown {
    margin-left: auto;
    padding: 10px;
    border: 0;
  }

  .PublicView--signed-in .PublicViewNavBar .Menu--row > li.MenuItem__signin,
  .PublicViewNavBar .Menu--row > li.MenuItem__signout,
  .PublicViewNavBar .Menu--row > li.MenuItem__dropdown {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .PublicView__container {
    max-width: 720px;
  }
}