@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  margin: 0;
}

div#root {
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0576b9;
}

.App {
  height: 100%;
}

.Form__control {
  cursor: auto;
  line-height: 1.6;
  font-size: 16px;
  padding: 8px 10px;
  width: 100%;
  border-style: solid;
}

.Form__group {
  margin-bottom: 10px;
}

@media only screen and (min-width : 1250px) {
  .content-container__boxed-width {
    width: 920px;
    margin: 0 auto;
  }
}