@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet');

body {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #2D3436;
  overflow-x: hidden;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body,
div#root {
  height: 100%;
  width: 100%;
}

div#root {
  display: flex;
  flex-grow: 1;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(5,118,185,1);
}
