@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  color: #2D3436;
}

div#root {
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(5,118,185,1);
}

.App {
  min-height: 100vh;
  display: flex;
}

.Form__group {
  margin-bottom: 20px;
}

.Form__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Form__control {
  cursor: auto;
  line-height: 1.6;
  font-size: 16px;
  padding: 8px 10px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #636E72;
}

.Btn__group {
  padding-top: 10px;
  margin-left: -3px;
  margin-right: -3px;
}

.Btn__group > .Btn {
  margin-left: 3px;
  margin-right: 3px;
}

@media only screen and (min-width : 1250px) {
  .content-container__boxed-width {
    width: 920px;
    margin: 0 auto;
  }
}