.AllThreadsItem {
  margin: 9px 14px;
}

.AllThreadsItem__body .Message .Message__container,
.AllThreadsItem__header {
  padding: 9px 13px;
}

.AllThreadsItem__hashtag {
  margin-right: 5px;
  display: inline-block;
}

.AllThreadsItem__title {
  color: inherit;
}

.AllThreadsItem__title-text {
  font-weight: bold;
  display: inline-block;
}

.AllThreadsItem__title:hover .AllThreadsItem__title-text {
  text-decoration: underline;
}

.AllThreadsItem__body {
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  background-color: #FFF;
}

.AllThreadsItem__body .Message .Message__container:first-child {
  padding-top: 12px;
}

.AllThreadsItem__list .Message .Message__container:last-child {
  padding-bottom: 12px;
}

.AllThreadsItem .MessageForm--inactive,
.AllThreadsItem .Editor__unlocked {
  border-color: #E9E9E9;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.AllThreadsItem .MessageForm .Btn__inactive-editor,
.AllThreadsItem .Editor__unlocked .DraftEditor-root {
  padding: 10px 13px;
}

.AllThreadsItem .emojiSelect {
  margin-right: 6px;
}

.AllThreadsItem .Btn__emoji {
  font-size: 18px;
}

.AllThreadsItem .MessageForm--inactive {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #9197a3;
}
