.Btn__unstyled {
  border-style: none;
  text-transform: none;
  padding: 0;
}

.Btn > * {
  pointer-events: none;
}

.Btn__styled {
  border: 1px solid #A8A9B0;
  border-radius: 4px;
  padding: 8px 10px;
  color: #636E72;
  font-weight: 700;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0);
  transition: all ease-in-out .2s;
}

.Btn__styled:hover {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}

.Btn__green {
  background-color: #00B894;
  border-color: #009F7F;
  color: #FFF;
}

.Btn__white {
  background-color: #FFF;
}

.Btn__xs {
  padding: 4px 8px;
  font-size: 13px;
}

.Btn__sm {
  padding: 6px 8px;
  font-size: 14px;
}

.Btn__lg {
  padding: 12px 14px;
  font-size: 18px;
}

.Btn__purple {
  background-color: #6C5CE7;
  border-color: #5846E4;
  color: #FFF;
}

.Btn__w100 {
  width: 100%;
  display: block;
}

.Btn__close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.Btn:hover,
.Btn:focus {
  cursor: pointer;
}

.Btn__group {
  padding-top: 10px;
  margin-left: -3px;
  margin-right: -3px;
}

.Btn__group > .Btn {
  margin-left: 3px;
  margin-right: 3px;
}

.Btn > svg {
  display: inline-block;
}