.ChannelScrollBar {
  position: relative;
}

.ChannelScrollBar__loader {
  text-align: center;
  display: none;
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  z-index: 999;
}

.ChannelScrollBar__loader-txt {
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #00CEC9;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0. 0.15);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}

.ChannelScrollBar--loading .ChannelScrollBar__loader {
  display: block;
}
