.Channel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ChannelPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ChannelPage__body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}

.ChannelPage__row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.ChannelPage__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}