
.ChannelHeaderNavbar {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #636E72;
}

.ChannelHeaderNavbar .Menu__header-user {
  margin: 0;
  background-color: #FFF;
  color: #636E72;
}

.ChannelHeaderNavbar .Menu__header-user .MenuItem {
  margin-right: 0;
}

.ChannelHeaderNavbar .Dropdown__channel-edit .Menu {
  top: 32px;
}

.ChannelHeaderNavbar .Dropdown__channel-edit,
.ChannelHeaderNavbar .Menu__edit > .MenuItem > .MenuItem__content,
.ChannelHeaderNavbar .Menu__header-user .MenuItem__content:not(.MenuItem__content--dropdown),
.Btn__dropdown--channel-edit {
  padding: 6px;
  border-radius: 4px;
}

.ChannelHeaderNavbar .Menu__header-user .MenuItem__content:focus {
  outline: none;
}

.ChannelHeaderNavbar .Menu__header-user .MenuItem__content:not(.MenuItem__content--active):hover {
  color: #74B9FF;
}

.ChannelHeaderNavbar .Menu__edit > .MenuItem > .MenuItem__content--active,
.ChannelHeaderNavbar .Menu__header-user .MenuItem__content--active,
.ChannelHeaderNavbar .Btn__dropdown--active {
  background-color: #DFE6E9;
}

.Modal__overlay--dropdown-channel-edit .Menu > .MenuItem > .MenuItem__content--active {
  background-color: #74B9FF;
  color: #FFF;
}

.ChannelHeaderNavbar .SearchBar {
  margin: 0 7px;
  border-radius: 4px;
  border: 1px solid #B2BEC3;
  position: relative;
}

.ChannelHeaderNavbar > .Menu .MenuItem__icon > svg {
  font-size: 1.3em;
}

.ChannelHeaderNavbar .SearchBar .Btn__nav-search {
  color: #B2BEC3;
  text-align: left;
}

.ChannelHeaderNavbar .SearchBar .Btn__clear {
  position: absolute;
  right: 6px;
  font-size: 1.5em;
  line-height: 19px;
  height: 18px;
}

.ChannelHeaderNavbar .SearchBar .Btn__searchbar {
  margin: 7px 0 7px 7px;
}

.ChannelHeaderNavbar .SearchBar .SearchBar__input {
  padding: 7px;
}

.ChannelHeaderNavbar .SearchBar__hoverable:hover .SearchBar__input,
.ChannelHeaderNavbar .SearchBar__hoverable:hover .Btn__searchbar {
  color: #74B9FF;
}

.ChannelHeaderNavbar .SearchBar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B2BEC3;
}

.ChannelHeaderNavbar .SearchBar ::-moz-placeholder { /* Firefox 19+ */
  color: #B2BEC3;
}

.ChannelHeaderNavbar .SearchBar :-moz-placeholder { /* Firefox 18- */
  color: #B2BEC3;
}

.ChannelHeaderNavbar .SearchBar__hoverable:hover ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #74B9FF;
}

.ChannelHeaderNavbar .SearchBar__hoverable:hover ::-moz-placeholder { /* Firefox 19+ */
  color: #74B9FF;
}

.ChannelHeaderNavbar .SearchBar__hoverable:hover :-moz-placeholder { /* Firefox 18- */
  color: #74B9FF;
}

.ChannelHeaderNavbar .Btn__right-sidebar-mobile {
  padding: 5px;
  text-align: center;
  display: block;
}

.ChannelHeaderNavbar .Btn__right-sidebar-mobile > svg {
  width: 15px;
  height: 15px;
  display: block;
}

@media screen and (max-width: 768px) {
  .ChannelHeaderNavbar .Menu__edit,
  .ChannelHeaderNavbar .Menu__header-user {
    display: none;
  }

  .ChannelHeaderNavbar .SearchBar {
    border: none;
  }

  .ChannelHeaderNavbar .SearchBar .SearchBar__input {
    display: none;
  }

  .ChannelHeaderNavbar .SearchBar .Btn__searchbar {
    margin: 5px;
  }
}
