.AllUnreadsItem__body .Message,
.Drawer .Message,
.Channel .ChannelEntry {
  padding: 9px 27px;
}

.ChannelEntry {
  position: relative;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ChannelEntry__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 8px;
}

.ChannelEntry__meta {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.ChannelEntry .ChannelSub {
  color: #636e72;
}

.Message__content {
  padding-right: 2px;
}

.ChannelEntry:hover {
  background-color: #F9F9F9;
}

.ChatPage--reaction .ChannelEntry:hover {
  background-color: #FFF;
}

.Message--editing {
  background-color: #FFEAA7;
}

.ChannelEntry__author {
  font-weight: bold;
  padding-right: 4px;
  color: inherit;
}

.ChannelEntry__author:hover {
  text-decoration: underline;
}

.ChannelEntry__time {
  color: rgba(0,0,0,0.5);
  font-size: .8em;
}