.ChannelHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DFE6E9;
  background-color: #FFF;
  padding: 8px 27px;
  z-index: 800;
  height: 58px;
  width: 100%;
}

.ChannelHeader__title {
  font-size: 18px;
  margin: 0 0 1px;
}

.ChannelHeader__navigate {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #636E72;
}

.ChannelHeader .Menu--header-user {
  margin: 0;
  background-color: #FFF;
  color: #636E72;
}

.ChannelHeader__navigate .Menu--header-user .MenuItem {
  margin-right: 0;
}

.ChannelHeader__navigate .Dropdown__channel-edit .Menu {
  top: 32px;
}

.ChannelHeader__navigate .Dropdown__channel-edit,
.ChannelHeader__navigate .Btn__channel-details,
.ChannelHeader__navigate .Menu--header-user .MenuItem__content {
  padding: 7px;
  border-radius: 4px;
}

.ChannelHeader__navigate .Menu--header-user .MenuItem__content:focus {
  outline: none;
}

.ChannelHeader__navigate .Menu--header-user .MenuItem__content:not(.MenuItem__content--active):hover {
  color: #74B9FF;
}

.ChannelHeader__navigate .Btn__channel-details--active,
.ChannelHeader__navigate .Menu--header-user .MenuItem__content--active {
  background-color: #DFE6E9;
}

.Dropdown__channel-edit .MenuItem__content--active {
  background-color: #74B9FF;
  color: #FFF;
}
