.ChannelBlurb {
  padding: 45px 27px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E9E9E9;
}

.ChannelBlurb__title {
  margin: 0 0 15px;
}

.Scrollable--has-history .ChannelBlurb,
.Scrollable--fetching .ChannelBlurb {
  display: none;
}