.ChannelHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DFE6E9;
  background-color: #FFF;
  padding: 6px 21px;
  min-height: 60px;
  width: 100%;
}

.ChannelHeader__info {
  overflow: hidden;
}

.ChannelHeader__title {
  font-size: 19px;
  margin: 1px 0 3px;
}

.Menu__header-meta {
  font-size: 14px;
}

.Menu__header-meta .MenuItem {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #636E72;
  position: relative;
  margin-left: 4px;
}

.Menu__header-meta .MenuItem::after {
  content: "";
  width: 1px;
  height: 70%;
  background-color: rgba(178, 190, 195, 0.7);
  position: absolute;
  right: -10px;
}

.Menu__header-meta .MenuItem:first-child {
  margin-left: 0;
}

.Menu__header-meta .MenuItem > a {
  display: flex;
  align-items: center;
  color: inherit;
}

.Menu__header-meta .MenuItem > a:hover {
  color: #74B9FF;
}

.Menu__header-meta .MenuItem:last-child {
  margin-right: 0;
}

.Menu__header-meta .MenuItem:last-child::after {
  content: none;
}

.Menu__header-meta .MenuItem__topic .MenuItem__content {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 1px 4px;
  margin-left: -4px;
  white-space: nowrap;
}

.Menu__header-meta .MenuItem__topic .MenuItem__content:hover {
  border: 1px solid #B2BEC3;
  position: relative;
}

.Menu__header-meta .MenuItem svg {
  margin-right: 4px;
}

.ChannelHeader .Btn__left-sidebar-mobile {
  margin: -5px 15px -5px -15px;
  padding: 0 15px;
  height: 45px;
  background-color: #4D394B;
  color: #FFF;
}

@media screen and (min-width: 769px) {
  .ChannelHeader .Btn__right-sidebar-mobile,
  .ChannelHeader .Btn__left-sidebar-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .ChannelHeader__title {
    font-size: 17px;
  }

  .ChannelHeader .SearchBar {
    max-width: 170px;
  }
}

@media screen and (max-width: 768px) {
  .ChannelHeader {
    min-height: 45px;
    padding: 5px 15px;
  }

  .ChannelHeader__title {
    font-size: 15px;
    margin: 0;
  }

  .ChannelHeader .Menu__header-meta {
    display: none;
  }
}
