.ChannelHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DFE6E9;
  background-color: #FFF;
  padding: 6px 21px;
  min-height: 60px;
  width: 100%;
}

.ChannelHeader__title {
  font-size: 19px;
  margin: 1px 0 3px;
}

.ChannelHeader__navigate {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #636E72;
}

.ChannelHeader .Menu__header-user {
  margin: 0;
  background-color: #FFF;
  color: #636E72;
}

.ChannelHeader__navigate .Menu__header-user .MenuItem {
  margin-right: 0;
}

.ChannelHeader__navigate .Dropdown__channel-edit .Menu {
  top: 32px;
}

.ChannelHeader__navigate .Dropdown__channel-edit,
.ChannelHeader__navigate .Menu__edit > .MenuItem > .MenuItem__content,
.ChannelHeader__navigate .Menu__header-user .MenuItem__content {
  padding: 7px;
  border-radius: 4px;
}

.ChannelHeader__navigate .Menu__header-user .MenuItem__content:focus {
  outline: none;
}

.ChannelHeader__navigate .Menu__header-user .MenuItem__content:not(.MenuItem__content--active):hover {
  color: #74B9FF;
}

.ChannelHeader__navigate .Menu__edit > .MenuItem > .MenuItem__content--active,
.ChannelHeader__navigate .Menu__header-user .MenuItem__content--active {
  background-color: #DFE6E9;
}

.Dropdown__channel-edit .MenuItem__content--active {
  background-color: #74B9FF;
  color: #FFF;
}

.Menu__header-meta {
  font-size: 14px;
}

.Menu__header-meta .MenuItem {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #636E72;
  position: relative;
  margin-left: 4px;
}

.Menu__header-meta .MenuItem::after {
  content: "";
  width: 1px;
  height: 70%;
  background-color: rgba(178, 190, 195, 0.7);
  position: absolute;
  right: -10px;
}

.Menu__header-meta .MenuItem:first-child {
  margin-left: 0;
}

.Menu__header-meta .MenuItem > a {
  display: flex;
  align-items: center;
  color: inherit;
}

.Menu__header-meta .MenuItem > a:hover {
  color: #74B9FF;
}

.Menu__header-meta .MenuItem:last-child {
  margin-right: 0;
}

.Menu__header-meta .MenuItem:last-child::after {
  content: none;
}

.Menu__header-meta .MenuItem__topic .MenuItem__content {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 1px 4px;
  margin-left: -4px;
}

.Menu__header-meta .MenuItem__topic .MenuItem__content:hover {
  border: 1px solid #B2BEC3;
  position: relative;
}

.Menu__header-meta .MenuItem svg {
  margin-right: 4px;
}

.ChannelHeader .SearchBar {
  margin: 0 7px;
  border-radius: 4px;
  border: 1px solid #B2BEC3;
  position: relative;
}

.ChannelHeader .SearchBar .Btn__nav-search {
  color: #B2BEC3;
  text-align: left;
}

.ChannelHeader .SearchBar .Btn__clear {
  position: absolute;
  right: 6px;
  font-size: 1.4em;
  line-height: 18px;
  height: 17px;
}

.ChannelHeader .SearchBar .Btn__searchbar {
  margin: 7px 0 7px 7px;
}

.ChannelHeader .SearchBar .SearchBar__input {
  padding: 7px;
}

.ChannelHeader .SearchBar__hoverable:hover .SearchBar__input,
.ChannelHeader .SearchBar__hoverable:hover .Btn__searchbar {
  color: #74B9FF;
}

.ChannelHeader .SearchBar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B2BEC3;
}

.ChannelHeader .SearchBar ::-moz-placeholder { /* Firefox 19+ */
  color: #B2BEC3;
}

.ChannelHeader .SearchBar :-ms-input-placeholder { /* IE 10+ */
  color: #B2BEC3;
}

.ChannelHeader .SearchBar :-moz-placeholder { /* Firefox 18- */
  color: #B2BEC3;
}

.ChannelHeader .SearchBar__hoverable:hover ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #74B9FF;
}

.ChannelHeader .SearchBar__hoverable:hover ::-moz-placeholder { /* Firefox 19+ */
  color: #74B9FF;
}

.ChannelHeader .SearchBar__hoverable:hover :-ms-input-placeholder { /* IE 10+ */
  color: #74B9FF;
}

.ChannelHeader .SearchBar__hoverable:hover :-moz-placeholder { /* Firefox 18- */
  color: #74B9FF;
}