.Channel .Message:last-child {
  margin-bottom: 21px;
}

.Channel__history-loader {
  display: none;
  text-align: center;
  width: 100%;
  padding: 20px 0 10px;
  color: #636E72;
}

.Channel--loading-history .Channel__history-loader {
  display: block;
}
