.ChannelBlurb {
  padding: 45px 27px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E9E9E9;
}

.ChannelBlurb__title {
  margin: 0 0 10px;
  font-weight: 400;
}

.ChannelBlurb__dm .ChannelBlurb__title {
  font-weight: bold;
}

.ChannelBlurb__title-text {
  font-weight: bold;
  margin-left: 4px;
}

.ChannelBlurb__description .ChannelBlurb__title-text {
  font-weight: bold;
  margin-left: 2px;
}

.ChannelBlurb__description {
  font-size: 1.1em;
}

.ChannelBlurb .Btn__edit-label {
  display: flex;
  align-items: center;
  color: #0984E3;
  margin-top: 8px;
}

.ChannelBlurb .Btn__edit-label svg {
  margin-right: 4px;
}

.ChannelBlurb__label {
  background-color: rgba(5,118,185,0.1);
  padding: 2px 3px;
  border-radius: 4px;
}

.ChannelBlurb__label-at {
  font-size: 90%;
  vertical-align: top;
}

.ChannelBlurb .Btn__edit .Btn__span {
  color: #0984E3;
}
