.Modal__chats .Modal__inner-body {
  max-width: 600px;
}

.ChatsModal__subhead {
  padding: 8px 12px;
  background-color: rgba(223, 230, 233, 0.2);
  color: #636E72;
  font-size: 14px;
  font-weight: 600;
}
