.ChatPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}

.ChatPage__row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.ChatPage__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.ChatPage--channel .ChatPage__container .Channel {
  position: relative;
  height: 100%;
}

.ChatPage--threads .ChatPage__container {
  background-color: #F7FAFC;
}

.ChatPage__empty {
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ChatPage .Channel .Message:last-child {
  margin-bottom: 15px;
}