.ChatPage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ChatPage__body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}

.ChatPage__row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.ChatPage__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}