.ChatPageSwitch {
  display: flex;
  flex-direction: column;
  min-width: 1px;
  flex-grow: 1;
}

.ChatPageSwitch__row {
  display: flex;
  flex-grow: 1;
}

.ChatPageSwitch .ChatPageSwitch__body {
  overflow: hidden;
  display: flex;
  flex: 1;
  position: relative;
  flex-grow: 1;
}

.ChatPageSwitch .ChatPageSwitch__body > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.ChatPageSwitch__threads .ChatPageSwitch__body {
  background-color: #F7FAFC;
}

.ChatPageSwitch__empty {
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ChatPageSwitch:not(.ChatPageSwitch__channel) .ScrollBar__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
