.Modal__chats .Modal__body {
  position: relative;
}

.Modal__chats .Modal__header {
  margin-bottom: 30px;
}

.Modal__chats .Modal__inner-body {
  width: 600px;
  margin: 0 auto;
  padding-top: 70px;
}

.ChatsModal__subhead {
  padding: 8px 12px;
  background-color: rgba(223, 230, 233, 0.2);
  color: #636E72;
  font-size: 14px;
  font-weight: 600;
}
