.Modal__chat {
  margin: 5em 2.5em;
  position: relative;
}

.Modal__chat:focus {
  outline: none;
}

.Modal__chat .Form__actions {
  text-align: right;
}

.Modal__chat .Btn__modal--submit {
  margin-left: 6px;
}