.ChatPage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ChatPage__body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 1px;
}

.ChatPage__row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.ChatPage__container,
.ChatPage--channel .ChatPage__container > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ChatPage--channel .ChatPage__container > div,
.ChatPage--threads .ChatPage__container,
.ChatPage--unreads .ChatPage__container {
  position: relative;
}

.ChatPage--threads .ChatPage__container {
  background-color: #F7FAFC;
}

.ChatPage--threads .ChatPage__container > div,
.ChatPage--unreads .ChatPage__container > div {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: auto;
}
