.Modal__chats .Modal__body {
  position: relative;
}

.Modal__chats .Modal__header {
  margin-bottom: 30px;
}

.Modal__chats .Btn__close {
  position: absolute;
  right: 50px;
  top: 50px;
  padding: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.Modal__chats .Btn__close:hover {
  background-color: #E8E8E8;
}

.Modal__chats .Modal__inner-body {
  width: 600px;
  margin: 0 auto;
  padding-top: 70px;
}

.ChatsModal__subhead {
  padding: 8px 12px;
  background-color: rgba(223, 230, 233, 0.2);
  color: #636E72;
  font-size: 14px;
  font-weight: 600;
}