.ChatPageSwitch {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ChatPageSwitch > .Layout {
  height: 100%;
  width: 100%;
}

.ChatPageSwitch .Layout__body {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.ChatPageSwitch .Layout__body > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.Layout__threads {
  background-color: #F7FAFC;
}

.ChatPageSwitch__empty {
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ChatPageSwitch .Channel .Message:last-child {
  margin-bottom: 15px;
}