.Drawer {
  width: 500px;
  border-left: 1px solid #E9E9E9;
  display: flex;
  flex-direction: column;
}

.Drawer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5;
  padding: 15px 12px;
}

.Drawer .Btn__close {
  margin-left: auto;
  border: none;
  position: static;
}

.Drawer__title {
  margin: 0;
}

.Drawer__subtitle {
  font-size: 80%;
  display: block;
}

.Drawer__body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Drawer .Scrollable__body {
  top: 0;
  bottom: inherit;
}

.Drawer .Scrollable .Message:first-child {
  padding: 10px;
}

.Drawer .Scrollable .Message:not(:first-child) {
  padding: 6px 10px;
}

.Drawer__thread .Message:first-child .Btn__thread {
  display: none;
}

.Drawer__thread .Message:nth-child(2):before {
  height: 1px;
  display: block;
  content: "";
  position: absolute;
  top: -12px;
  right: 10px;
  left: 10px;
  background: #e8e8e8;
}

.Drawer__thread .Message:nth-child(2) {
  margin-top: 18px;
}