.Modal__dropdown {
  border-top: 1px solid rgba(0,0,0,.1);
  position: absolute;
  background-color: #FFF;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.Modal__dropdown .Menu {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 245px;
  max-height: 280px;
}

.Modal__dropdown .ScrollBar {
  border-radius: 6px;
}

.Modal__dropdown .ps--active-y .Menu li:last-child {
  padding-bottom: 15px;
}

.Modal__dropdown .ps__rail-y,
.Modal__dropdown .ps .ps__rail-y:hover,
.Modal__dropdown .ps .ps__rail-y:focus,
.Modal__dropdown .ps .ps__rail-y.ps--clicking {
  background-color: transparent;
}

.Modal__dropdown .Menu > .MenuItem > .MenuItem__content {
  color: rgba(0,0,0,.86);
  width: 100%;
}

.Modal__dropdown .Menu > .MenuItem > .MenuItem__content--btn {
  text-align: left;
}

.Modal__dropdown .emoji-picker .emoji {
  padding: 15.1px;
}