.Dropdown {
  position: relative;
}

.Dropdown--opened {
  z-index: 800;
}

.Menu--dropdown {
  border-top: 1px solid rgba(0,0,0,.1);
  position: absolute;
  background-color: #FFF;
  width: 280px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  z-index: 999;
}

.Btn__dropdown {
  width: 100%;
}

.Btn__dropdown:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255,255,255,.4);
}

.Dropdown--right .Menu--dropdown {
  right: 0;
}

.Dropdown .MenuItem__content {
  color: rgba(0,0,0,.86);
  width: 100%;
}

.Dropdown .MenuItem__content--btn {
  text-align: left;
}