.EmojiModal {
  z-index: 800;
  position: absolute;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
}

.Workspace--modal-open .MessageHoverMenu {
  border: none;
}

.Workspace--modal-open .MessageHoverMenu > .Btn {
  display: none;
}

.emoji-picker .emoji {
  padding: 15.1px;
}