.EmptyDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 520px;
  font-size: 1.2em;
  text-align: center;
  margin: -58px auto 0;
}

.EmptyDisplay__top-icon {
  margin-bottom: 18px;
  font-size: 3.4em;
}

.EmptyDisplay__txt {
  font-weight: bold;
  font-size: 1.55em;
  line-height: 1.22em;
}

.EmptyDisplay__loading-icon {
  display: block;
  color: #DFE6E9;
}

@media screen and (max-width: 991px) {
  .EmptyDisplay {
    font-size: 1.1em;
  }

  .EmptyDisplay__top-icon {
    margin-bottom: 14px;
    font-size: 3.2em;
  }

  .EmptyDisplay__loading-icon {
    margin-top: 35px;
  }
}

@media screen and (max-width: 768px) {
  .EmptyDisplay {
    font-size: 1em;
  }

  .EmptyDisplay__top-icon {
    margin-top: 25px;
  }
}