.FavoritesDrawer .Message:first-child .MessageHoverMenu {
  top: -5px;
}

.FavoritesDrawer .Message__container {
  padding: 3px 10px 12px;
  margin: 10px 8px;
  background-color: #FFF;
  border-bottom: 1px solid #DFE6E9;
}

@media screen and (max-width: 768px) {
  .FavoritesDrawer .Message__container {
    padding: 3px 8px 12px;
    margin: 10px -8px;
    background-color: #FFF;
    border-bottom: 1px solid #DFE6E9;
  }
}