.Form__group {
  margin-bottom: 20px;
}

.Form > .Form__group:last-of-type {
  margin-bottom: 30px;
}

.Form__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Form__control {
  cursor: auto;
  line-height: 1.6;
  font-size: 16px;
  padding: 8px 10px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #636E72;
}

.Form__control:focus {
  outline: 0;
  border-color: #74B9FF;
  box-shadow: 0 0 0 0.1em rgba(116, 185, 255, 0.5);
}

.Form__alert {
  padding: 15px 20px;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #FFF;
  font-weight: bold;
}

.Form__alert--errors {
  background-color: #E17055;
  padding-left: 20px;
}

.Form__alert--errors > li {
  margin-bottom: 5px;
}

.Form__alert--errors > li::before {
  content: "\00D7";
  width: 20px;
  display: inline-block;
  font-size: 1.35em;
  vertical-align: middle;
}

.Form__alert--errors > li:last-child {
  margin-bottom: 0;
}

.Form__alert--success {
  background-color: #00B894;
}

.Form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B2BEC3;
}

.Form ::-moz-placeholder { /* Firefox 19+ */
  color: #B2BEC3;
}

.Form :-ms-input-placeholder { /* IE 10+ */
  color: #B2BEC3;
}

.Form :-moz-placeholder { /* Firefox 18- */
  color: #B2BEC3;
}
