.Layout {
  display: flex;
  width: 100%;
}

.Layout__body,
.Layout__col {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-grow: 1;
  min-width: 1px;
}

.Layout__body {
  width: 100%;
  position: relative;
}

.Layout__row {
  display: flex;
  width: 100%;
}
