.LeftSidebar {
  min-width: 250px;
  background-color: #4D394B;
  color: rgba(255,255,255,.8);
}

.LeftSidebar a {
  color: inherit;
}

.SidebarMenu__header,
.Dropdown__profile .Btn__dropdown,
.SidebarMenu .MenuItem__content,
.SidebarMenu .menu__text {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
