
.LeftSidebarWidget__header,
.LeftSidebarWidget__profile .Btn__dropdown,
.LeftSidebarWidget .MenuItem__content {
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
}

.LeftSidebarWidget {
  margin-bottom: 20px;
}

.LeftSidebarWidget:last-child {
  margin-bottom: 0;
}

.LeftSidebarWidget .MenuItem__content {
  text-align: inherit;
}

.LeftSidebarWidget > .Menu > .MenuItem > .MenuItem__content {
  color: rgba(255,255,255,0.75);
  display: block;
}

.LeftSidebarWidget > .Menu > .MenuItem--unread > .MenuItem__content {
  color: #FFF;
  font-weight: bold;
}

.LeftSidebarWidget__header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.LeftSidebarWidget__header > .Btn:hover {
  color: rgba(255,255,255,1);
}

.LeftSidebarWidget__header > .Btn {
  display: block;
  margin-right: auto;
}

.LeftSidebarWidget__header .Btn:focus {
  outline: none;
}

.LeftSidebarWidget__chats .Menu > .MenuItem > .MenuItem__content--active {
  pointer-events: none;
}

.LeftSidebarWidget .Btn__chats {
  padding: 0;
  margin: 0 auto 0 0;
  width: 100%;
  text-align: left;
}

.LeftSidebarWidget__header > .Btn__widget {
  color: rgba(255,255,255,0.4);
}

.LeftSidebarWidget__header > .Btn__widget:hover {
  color: rgba(255,255,255,0.8);
}

.LeftSidebarWidget .MenuItem__content > .MenuItem__icon {
  width: 23px;
  display: inline-block;
}

.LeftSidebarWidget .MenuItem__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LeftSidebarWidget__quicklinks .Menu .MenuItem__icon svg,
.LeftSidebarWidget .StatusIcon {
  width: 1.25em;
}

.LeftSidebarWidget__chats .Menu .MenuItem__content > .MenuItem__icon,
.LeftSidebarWidget__quicklinks .Menu .MenuItem__content > .MenuItem__icon {
  color: rgba(255,255,255,0.4);
}

.LeftSidebarWidget .MenuItem__content--btn:hover:not(.MenuItem__content--active),
.LeftSidebarWidget .MenuItem__content--link:hover:not(.MenuItem__content--active) {
  background-color: rgba(223,230,233,.45);
}

.LeftSidebarWidget .MenuItem__content--btn:hover:not(.MenuItem__content--active),
.LeftSidebarWidget .MenuItem__content--link:hover:not(.MenuItem__content--active) {
  background-color: #3E2E3D;
}

.LeftSidebarWidget > .Menu > .MenuItem > .MenuItem__content--active {
  background-color: #4C9689;
}

.LeftSidebarWidget > .Menu > .MenuItem > .MenuItem__content--btn:focus {
  outline: none;
}

.LeftSidebarWidget__dm-chats .Menu .MenuItem__content .Btn__suffix {
  height: 15px;
  right: 16px;
  display: none;
}

.LeftSidebarWidget__dm-chats .Menu .MenuItem__content:hover .Btn__suffix {
  display: block;
  float: right;
}

.LeftSidebarWidget__quicklinks .MenuItem__icon,
.LeftSidebarWidget__chats .MenuItem__icon,
.LeftSidebar .MenuItem .StatusIcon__offline {
  color: rgba(255,255,255,0.4);
}

.LeftSidebar .StatusIcon__online {
  color: rgba(85,239,196,.5);
}
