.Sidebar--left {
  width: 15%;
  display: inline-block;
  background-color: #4D394B;
  color: rgba(255,255,255,.8);
}

.Sidebar--left a {
  color: inherit;
}

.Sidebar--left .MenuItem__content,
.Sidebar--left .menu__text {
  text-align: inherit;
}

.SidebarWidget__header,
.Dropdown__user .Btn__dropdown,
.Sidebar--left .MenuItem__content,
.Sidebar--left .menu__text {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.Dropdown__user .Btn__dropdown:focus {
  outline: 0;
  background-color: #453343;
  box-shadow: none;
}

.Dropdown__user .Menu--dropdown {
  left: 10px;
  z-index: 9999;
}

.SidebarWidget {
  margin-bottom: 20px;
}

.SidebarWidget:last-child {
  margin-bottom: 0;
}

.SidebarWidget > .Menu > .MenuItem > .MenuItem__content {
  color: rgba(255,255,255,0.75);
}

.SidebarWidget > .Menu > .MenuItem > .MenuItem__content--active {
  pointer-events: none;
}

.SidebarWidget .MenuItem--unread {
  color: #FFF;
  font-weight: bold;
}

.SidebarWidget__header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.SidebarWidget__title {
  display: block;
}

.SidebarWidget__header .Btn {
  display: block;
  margin-left: auto;
}


.Dropdown__user .MenuItem__content {
  color: #333;
}

.Dropdown__user .MenuItem__content {
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}

.Dropdown__user .MenuItem__content--active {
  background-color: #4C9689;
  color: #FFF;
}

.Dropdown__user .Dropdown__title {
  text-align: left;
}

.Dropdown__workspace {
  font-weight: bold;
}

.Dropdown__user .Dropdown__subtitle {
  display: flex;
  flex-direction: row;
}

.Dropdown__user .Dropdown__status {
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.Dropdown__status--online {
  color: #55EFC4;
}

.Icon__status--online {
  color: #55EFC4;
}

.Btn__widget {
  color: rgba(255,255,255,0.4);
}