.MenuItem {
  display: block;
}

.MenuItem__content--btn {
  cursor: pointer;
  border: 0;
}

.MenuItem__content {
  display: block;
  font-size: 15px;
  line-height: 18px;
  padding: 4px 15px;
}

.MenuItem__icon {
  margin-right: 8px;
}

.Sidebar .MenuItem__icon {
  color: rgba(255,255,255,0.3);
}