.Menu--row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Menu--row > li {
  display: flex;
  align-items: center;
}

.Menu--styled.Menu--row > .MenuItem {
  margin-right: 20px;
}

.Menu--styled.Menu--row > .MenuItem:last-child {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .Menu--styled.Menu--row > .MenuItem {
    margin-right: 10px;
  }
}