.MenuItem {
  display: block;
}

.MenuItem__content--btn {
  cursor: pointer;
  border: 0;
}

.MenuItem__content {
  display: block;
  font-size: 15px;
  line-height: 18px;
  padding: 4px 15px;
  position: relative;
}

.SidebarWidget .MenuItem__content > .Icon {
  margin-right: 8px;
}

.SidebarWidget .Menu--chats .MenuItem__content > .Icon,
.SidebarWidget .Menu--quicklinks .MenuItem__content > .Icon {
  color: rgba(255,255,255,0.4);
}

.Menu--dmChats .Icon__status--offline {
  color: rgba(255,255,255,0.4);
}

.SidebarWidget .MenuItem__content--btn:hover:not(.MenuItem__content--active),
.SidebarWidget .MenuItem__content--link:hover:not(.MenuItem__content--active) {
  background-color: rgba(223,230,233,.45);
}

.SidebarWidget .MenuItem__content--btn:hover:not(.MenuItem__content--active),
.SidebarWidget .MenuItem__content--link:hover:not(.MenuItem__content--active) {
  background-color: rgba(0,0,0,0.1);
}

.SidebarWidget .MenuItem__content--active {
  background-color: #4C9689;
}