.Menu--row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Menu--row:not(.Menu__unstyled) > .MenuItem {
  margin-right: 20px;
}

.Menu--row:not(.Menu__unstyled) > .MenuItem:last-child {
  margin-right: 0;
}