.Message {
  position: relative;
}

.Message__container {
  padding: 4px 24px;
}

.Message__row {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 2px 0;
}

.Message__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 8px;
}

.Message__meta {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.Message__content {
  padding-right: 2px;
}

.Message--hoverable.Message--hover:not(.Message--highlighted),
.Message--hoverable:not(.Message--highlighted):not(.Message--editing):hover {
  background-color: #F9F9F9;
}

.Message__author {
  font-weight: bold;
  padding-right: 6px;
  color: inherit;
}

.Message__author:hover {
  text-decoration: underline;
}

.Message__time {
  color: rgba(0,0,0,0.5);
  font-size: .75em;
}

.Channel .Message--highlighted,
.Message--editing {
  background-color: rgba(255, 234, 167, 0.2);
}

.Message--editing .Reactions,
.Message--editing .SingleMessageThread,
.Message--editing .Message__meta {
  display: none !important;
}

.Message--editing .Message__content .Editor__unlocked {
  margin-bottom: 8px;
}

.Message--editing .Message__content .Btn__cancel {
  margin-right: 8px;
}

.Message--editing .Editor {
  background-color: #FFF;
  border-radius: 4px;
  border-color: #0576b9;
}

@media screen and (max-width: 991px) {
  .Message__container {
    padding: 4px 18px;
  }
}