.Message {
  position: relative;
}

.AllUnreadsItem__body .Message__container,
.Drawer__convo .Message__container,
.Channel .Message__container {
  padding: 5px 27px;
}

.Message__row {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 2px 0;
}

.Message--has-avatar .Message__body {
  margin-left: 8px;
}

.Message__body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Message__meta {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.Message .ChannelSub {
  color: #636e72;
}

.Message__content {
  padding-right: 2px;
}

.Message--hover:not(.Message--editing):not(.Message--pinned) .Message__container {
  background-color: #F9F9F9;
}

.Message__author {
  font-weight: bold;
  padding-right: 4px;
  color: inherit;
}

.Message__author:hover {
  text-decoration: underline;
}

.Message__time {
  color: rgba(0,0,0,0.5);
  font-size: .8em;
}

.Channel .Message--pinned,
.Message--editing {
  background-color: rgba(255, 234, 167, 0.4);
}

.Message--editing .Reactions,
.Message--editing .SingleMessageThread,
.Message--editing .Message__meta {
  display: none;
}

.Message--editing .Message__content .Editor__unlocked {
  margin-bottom: 8px;
}

.Message--editing .Message__content .Btn__cancel {
  margin-right: 8px;
}