.Message .MessageHoverMenu {
  background-color: #FFF;
  border: 0.5px solid rgba(0,0,0,0.18);
  border-radius: 3px;
  padding: 0 3px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  position: absolute;
  top: -8px;
  right: 16px;
  display: none;
}

.Message--hover .MessageHoverMenu {
  display: flex;
}

.Workspace--modal-open .Message--hover .MessageHoverMenu {
  display: none;
}

.Drawer .Message:first-child .MessageHoverMenu {
  top: 10px;
  right: 10px;
}

.Drawer .Message:not(:first-child) .MessageHoverMenu {
  top: -5px;
  right: 10px;
}

.MessageHoverMenu:hover {
  -webkit-box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  border-color: rgba(0,0,0,0.28);
}

.MessageHoverMenu > .Btn,
.MessageHoverMenu .Dropdown__message > .Btn {
  border-width: 0;
  padding: 3px 6px;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  border-right: 0.5px solid rgba(0,0,0,0.18);
}

.MessageHoverMenu .Dropdown__message > .Btn {
  border-right: 0;
}

.MessageHoverMenu > .Btn:hover {
  color: #0576B9;
}

.Btn__fav--filled {
  color: #FDCB6E !important;
}