.AllUnreadsItem__body .Message,
.MessagesPane .Message {
  padding: 9px 27px;
}

.Message {
  position: relative;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.Message__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 6px;
}

.Message__content-meta {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Message__content {
  padding-right: 2px;
}

.Message:hover {
  background-color: #F9F9F9;
}

.ChatPage--reaction .Message:hover {
  background-color: #FFF;
}

.Message--editing {
  background-color: #FFEAA7;
}

.Message__author {
  font-weight: bold;
  padding-right: 4px;
  color: inherit;
}

.Message__time {
  color: rgba(0,0,0,0.5);
  font-size: .8em;
}