.Sidebar__right--thread .Sidebar__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MessageThread {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MessageThread .Message:first-child {
  padding: 10px;
}

.MessageThread .Message:first-child .Btn__thread {
  display: none;
}

.MessageThread .Message:not(:first-child) {
  padding: 6px 10px;
}

.MessageThread .Message:first-child:after {
  height: 1px;
  margin-top: 5px;
  display: block;
  content: "";
  position: absolute;
  right: 10px;
  left: 10px;
  bottom: 0;
  background: #e8e8e8;
}

.MessageThread .Message:nth-child(2) {
  margin-top: 10px;
}