.MessagePin {
  display: flex;
  align-items: center;
  color: #636E72;
  font-size: 12px;
  margin-bottom: 5px;
}

.MessagePin__gutter {
  width: 44px;
  text-align: right;
  padding-right: 4px;
}

.MessagePin svg {
  color: #E17055;
  margin-right: 4px;
}