.MessageForm > .Form {
  display: flex;
  flex-direction: row;
}

.MessageForm .Form__body {
  width: 100%;
}

.MessageForm .Btn__submit {
  display: block;
}

.MessageForm__has-submit > .Form {
  padding: 10px;
}

.MessageForm__has-submit .Editor {
  border-width: 1px;
}

.MessageForm__has-submit .Form__actions {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.MessageForm__has-submit .Btn {
  margin-left: auto;
  display: block;
}

.MessageForm__chat {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #FFF;
}

.Drawer .MessageForm__convo {
  padding: 10px;
}

.MessageForm__chat {
  padding: 0 18px 24px;
}