.MessageThreadPreview {
  font-size: small;
  text-decoration: none;
  padding-top: 2px;
  margin: 3px -4px 0;
}

.MessageThreadPreview__link {
  display: block;
  max-width: 550px;
  padding: 3px 4px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 3px;
  transition: border-color ease-in-out .1s,
              background-color ease-in-out .1s;
}

.MessageThreadPreview__link:hover {
  border-color: #e8e8e8;
  background-color: #FFF;
}

.MessageThreadPreview__items {
  display: flex;
  flex-direction: row;
}

.MessageThreadPreview__avatars .Avatar {
  margin-right: 3px;
}

.MessageThreadPreview__avatars .Avatar:last-child {
  margin-right: 0;
}

.MessageThreadPreview__item {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.MessageThreadPreview__items .MessageThreadPreview__item:first-child {
  margin-left: 0;
}

.MessageThreadPreview .MessageThreadPreview__counter {
  margin-right: 2px;
}

.MessageThreadPreview .MessageThreadPreview__counter:hover {
  text-decoration: underline;
}

.MessageThreadPreview__date {
  color: rgba(0,0,0,.5);
}

@media screen and (max-width: 768px) {
  .MessageThreadPreview__date {
    display: none;
  }
}