.Menu__msg-hover {
  background-color: #FFF;
  border: 0.5px solid rgba(0,0,0,0.18);
  border-radius: 3px;
  padding: 0 3px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  position: absolute;
  top: -8px;
  right: 16px;
  display: none;
}

.Message--hoverable.Message--hover:not(.Message--editing) .Menu__msg-hover,
.Message--hoverable.Message:hover:not(.Message--editing) .Menu__msg-hover {
  display: flex;
}

.Drawer .Message:first-child .Menu__msg-hover {
  top: 10px;
  right: 18px;
}

.Drawer .Message:not(:first-child) .Menu__msg-hover {
  top: -5px;
  right: 18px;
}

.Menu__msg-hover:hover {
  -webkit-box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  border-color: rgba(0,0,0,0.28);
}

.Menu__msg-hover .Btn__dropdown:focus {
  box-shadow: none;
}

.Menu__msg-hover .Btn__dropdown,
.Menu__msg-hover > .MenuItem > .MenuItem__content {
  padding: 3px 6px;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.Menu__msg-hover > .MenuItem {
  border-left: 0.5px solid rgba(0,0,0,0.18);
}

.Menu__msg-hover > .MenuItem:first-child {
  border-left: none;
}

.Menu__msg-hover .Btn__dropdown:hover,
.Menu__msg-hover > .MenuItem > .MenuItem__content:hover {
  color: #0576B9;
}

.Menu__msg-hover .MenuItem__favorite--solid .MenuItem__content:hover svg,
.Menu__msg-hover .MenuItem__favorite--solid svg {
  color: #FDCB6E;
}
