.Modal__wrapper--search .Modal__overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

.Modal__search {
  margin: 9px 109px 9px;
  border-radius: 6px;
  background-color: #F7FAFC;
  position: relative;
}

.ModalSearch {
  position: aboslute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.ModalSearch .ScrollBar__container {
  display: flex;
  position: relative;
  flex: 1;
  padding: 15px;
}

.ModalSearch__searchbar {
  display: flex;
  padding: 4px 20px;
  border-bottom: 1px solid #DFE6E9;
  z-index: 99;
  background-color: #FFF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ModalSearch .Btn__modal-close {
  display: flex;
  color: #636E72;
  padding: 0 10px;
}

.ModalSearch .SearchBar .Btn__clear::after {
  content: "|";
  color: #DFE6E9;
  padding-left: 10px;
}

.ModalSearch .SearchBar .Btn__searchbar {
  padding: 0 10px;
}

.ModalSearch .SearchBar .Btn__clear {
  display: flex;
  padding-left: 10px;
}

.ModalSearch .SearchBar .SearchBar__input {
  line-height: 1.6;
  font-size: 16px;
  padding: 8px 4px;
}

@media screen and (max-width: 768px) {
  .ModalSearch .Modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
  }

  .ModalSearch .Modal {
    border-radius: 0;
  }
}