.ModalSearchResults {
  padding: 0 15px;
  flex: 0 0 75%;
  max-width: 75%;
}

.ModalSearch--empty .ModalSearchResults, 
.ModalSearch--fw-loading .ModalSearchResults {
  max-width: 100%;
  flex: 0 0 100%;
}

.ModalSearchResults__txt--empty,
.ModalSearch--new .ModalSearchResults__txt--count,
.ModalSearch--loading .ModalSearchResults__txt,
.ModalSearchResults__loader {
  display: none;
}

.ModalSearch--new .ModalSearchResults__txt--empty,
.ModalSearch--loading .ModalSearchResults__loader {
  display: block;
}

.ModalSearchResults__loader {
  color: #B2BEC3;
  text-align: center;
  font-size: 1.5em;
}

.ModalSearchResults__txt {
  color: #636E72;
}

.ModalSearchResults__txt--count {
  margin: 0;
}

@media screen and (max-width: 991px) {
  .ModalSearchResults {
    flex: 0 0 70%;
    max-width: 70%;
  }
}