.ModalSearchResults {
  width: 80%;
  padding: 0 15px;
}

.ModalSearchResults__empty-txt,
.ModalSearch--new .ModalSearchResults__count-txt,
.ModalSearch--loading .ModalSearchResults__empty-txt,
.ModalSearch--loading .ModalSearchResults__count-txt,
.ModalSearchResults__loading-txt {
  display: none;
}

.ModalSearch--new .ModalSearchResults__empty-txt,
.ModalSearch--loading .ModalSearchResults__loading-txt {
  display: block;
}

.ModalSearchResults__count-txt,
.ModalSearchResults__empty-txt {
  color: #636E72;
}

.ModalSearchResults__count-txt {
  margin: 0;
}
