.ModalSearchAside {
  width: 20%;
  padding: 0 15px;
}

.ModalSearch--loading .ModalSearchAside,
.ModalSearch--empty .ModalSearchAside,
.ModalSearch--new .ModalSearchAside {
  display: none;
}

.ModalSearchAside__title {
  margin: 0 0 10px;
  color: #636E72;
}

.ModalSearchAside__widget {
  margin-bottom: 30px;
}

.ModalSearchAside__widget-title {
  margin: 0 0 15px;
  font-weight: normal;
  color: #636E72;
}

.ModalSearchAside .Form__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ModalSearchAside__widget-channels {
  margin-bottom: 7px;
}

.ModalSearchAside__widget-people .ModalSearchAside__filter-prefix {
  width: 28px;
}

.ModalSearchAside__widget-channels .ModalSearchAside__filter-prefix {
  width: 28px;
}

.ModalSearchAside .Form__checkbox-label {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.ModalSearchAside input {
  margin-left: auto;
}