.Modal {
  border: 0;
}

.Modal:focus {
  outline: 0;
}

.Modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.Modal__overlay--styled  {
  background-color: #FFF;
}

.Modal__overlay--pos {
  background-color: rgba(0, 0, 0, 0.25);
}

.Modal__overlay--pos .Modal,
.Modal__overlay--styled .Modal {
  height: 100%;
}

.Modal__overlay--styled .Form label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;  
}

.Modal__overlay--pos {
  z-index: 600;
}

.Modal__overlay--pos .Modal {
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.Modal .Btn__close {
  color: #636E72;
}

.Modal .Btn__close--overlay {
  font-size: 2.2em;
  position: absolute;
  top: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
}

.Modal__overlay--unstyled .Btn__close--overlay {
  display: none;
}

.Modal__overlay--styled .Modal__body {
  max-width: 800px;
  margin: 0 auto;
}

.Modal__overlay--styled .Btn__close--overlay {
  display: flex;
}

.Modal .Btn__close:focus {
  outline: 0;
}

.Modal .Btn__close--overlay:hover,
.Modal .Btn__close--overlay:focus {
  background-color: #E8E8E8;
}

.Modal .Form .Btn__submit {
  margin-right: 6px;
}

.Modal .ps__rail-y,
.Modal .ps:hover > .ps__rail-y {
  opacity: 1;
}

.Modal .ps__rail-y {
  background-color: #EEE;
}

@media screen and (max-width: 991px) {
  .Modal__overlay--styled .Modal__body {
    max-width: 720px;
  }
}

@media screen and (min-width: 769px) {
  .Modal__overlay--styled .Modal__container {
    padding: 80px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .Modal .Btn__close--overlay {
    display: none;
  }

  .Modal__overlay--styled .Modal__body {
    padding: 0 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .Modal__overlay--styled .Modal__body {
    max-width: 536px;
    margin-left: auto;
    margin-right: auto;
  }
}