.Modal {
  border: 0;
}

.Modal:focus {
  outline: none;
}

.Modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.Modal__wrapper--styled .Modal__overlay {
  background-color: #FFF;
}

.Modal__wrapper--pos .Modal__overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

.Modal__wrapper--pos .Modal,
.Modal__wrapper--styled .Modal {
  height: 100%;
}

.Modal__wrapper--styled .Modal {
  margin: 0 auto;
  padding: 80px 30px 0;
  max-width: 800px;
}

.Modal__wrapper--styled .Modal__header {
  margin-bottom: 15px;
}

.Modal__wrapper--styled .Modal__title {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
  font-size: 2em;
}

.Modal__wrapper--styled .Form label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;  
}

.Modal__wrapper--pos {
  z-index: 600;
}

.Modal__wrapper--pos .Modal {
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.Modal .Btn__close {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  border-radius: 50%;
  color: #636e72;
}

.Btn__close--overlay {
  font-size: 3.4em;
  position: absolute;
  right: 50px;
  top: 50px;
  height: 50px;
  width: 50px;
}

.Btn__close--overlay:hover,
.Btn__close--overlay:focus {
  outline: 0;
  background-color: #E8E8E8;
}

.Modal__wrapper--styled .Modal__header,
.Modal__wrapper--styled .Modal__header-inner {
  display: flex;
  align-items: center;
}

.Modal__wrapper--styled .Modal__header-inner {
  justify-content: center;
  flex: 1;
}

.Modal .Form .Btn__submit {
  margin-right: 6px;
}

@media screen and (min-width: 769px) {
  .Modal__wrapper--styled .Btn__close--header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Modal__wrapper--styled .Modal {
    padding-top: 0;
  }

  .Modal__wrapper--styled .Btn__close--overlay {
    display: none;
  }

  .Modal__wrapper--styled .Modal__header {
    padding: 10px 15px;
    margin-bottom: 40px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DFE6E9;
  }

  .Modal__wrapper--styled .Btn__close--header {
    position: static;
    font-size: 2em;
    height: 28px;
    width: 28px;
    display: block;
    margin-left: auto;
  }

  .Modal__wrapper--styled .Modal {
    padding: 0 15px;
  }

  .Modal__wrapper--styled .Modal__title {
    font-size: 1.6em;
    text-align: left;
    padding-bottom: 0;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .Modal__wrapper--styled .Modal__header-inner {
    max-width: 536px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

  .Modal__wrapper--styled .Modal {
    max-width: 536px;
    margin-left: auto;
    margin-right: auto;
  }
}