.ModalSearchItem {
  padding: 10px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid #DFE6E9;
  margin-bottom: 10px;
}

.ModalSearchItem:hover {
  box-shadow: 0px 1px 2px 0px rgba(178, 190, 195, 0.2)
}

.ModalSearchItem__meta {
  color: #636E72;
  margin-bottom: 9px;
  font-size: 13px;
}

.ModalSearchItem:hover .ModalSearchItem__meta {
  color: #74B9FF;
}

.ModalSearchItem__meta-hashtag {
  margin-right: 3px;
}

.ModalSearchItem__meta-sep {
  margin: 0 7px;
}

.ModalSearchItem__social {
  font-size: 13px;
  margin-top: 9px;
  margin-left: 44px;
  display: flex;
  color: #636E72;
}

.ModalSearchItem__threads {
  margin-right: 20px;
}

.ModalSearchItem__reactions svg,
.ModalSearchItem__threads svg {
  margin-right: 4px;
}
