.Modal__profile .Modal__header {
  margin-bottom: 15px;
}

.Modal__profile .Modal__title {
  text-align: center;
  padding: 15px 0;
}

.Modal__profile .Modal__inner-body {
  margin: 0 auto;
  width: 800px;
}

.ProfileModal__tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #A8A9B0;
}

.ProfileModal__tabs .Btn {
  margin: 0 6px -1px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #A8A9B0;
  transition: none;
}

.ProfileModal__tabs .Btn:hover {
  box-shadow: none;
  color: #636E72;
}

.ProfileModal__user .Btn__user-tab,
.ProfileModal__password .Btn__pw-tab {
  background-color: #FFF;
  color: #636E72;
}

.ProfileModal__body {
  padding: 15px;
}

.ProfileModal form label {
  font-weight: bold;
  display: block;
  margin-bottom: 7px;
}
