.Dropdown__profile {
  margin-bottom: 20px;
}

.Dropdown__profile,
.Dropdown__profile > .Btn {
  height: 58px;
}

.Dropdown__profile .Dropdown__subtitle {
  display: flex;
  flex-direction: row;
}

.Dropdown__profile .Dropdown__status {
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.Dropdown__profile .MenuItem--text {
  margin-top: 5px;
  padding-bottom: 8px;
}

.Dropdown__profile .Menu--dropdown .MenuItem > .MenuItem__content:not(.MenuItem__content--active) {
  background-color: #FFF;
  transition: background-color ease-in-out .15s;
}

.Dropdown__profile .Menu--dropdown .MenuItem > .MenuItem__content:not(.MenuItem__content--active):not(.MenuItem__content--text):hover {
  background-color: rgba(223,230,233,.45);
}

.Dropdown__profile .MenuItem__switch-workspace {
  border-top: 1px solid #E9E9E9;
  padding-top: 15px;
}

.Dropdown__profile .MenuItem__switch-workspace .MenuItem__content,
.Dropdown__profile .UserPreview__username {
  font-size: 18px;
  font-weight: bold;
}

.Dropdown__profile .UserPreview__email {
  color: #636E72;
}

.Avatar__greeting {
  margin-right: 10px
}

.Dropdown__profile .Btn__dropdown:focus {
  outline: 0;
  background-color: #453343;
  box-shadow: none;
}

.Dropdown__profile .Menu--dropdown {
  left: 10px;
  z-index: 9999;
}

.Dropdown__profile .MenuItem__content {
  color: #333;
}

.Dropdown__profile .MenuItem__content {
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}

.Dropdown__profile .MenuItem__content--active {
  background-color: #4C9689;
  color: #FFF;
}

.Dropdown__profile .Dropdown__title {
  text-align: left;
}

.Dropdown__workspace {
  font-weight: bold;
}
