.PublicView {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #F7FAFC;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.PublicView__container {
  margin: 0 auto;
  padding: 0 15px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 880px;
}

.PublicView--create-workspace .PublicView__title {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .PublicView__container {
    max-width: 540px;
  }
}
