.Reactions {
  display: flex;
  flex-direction: row;
  margin: 6px 0 0;
}

.Reactions__item {
  margin-right: 5px;
}

.Reactions__item:last-child {
  margin-right: 0;
}

.Reactions .Btn__reaction {
  border: 1px solid;
  border-color: #e8e8e8;
  background-color: #FFF;
  padding: 2px;
  border-radius: 3px;
  font-size: 13px;
  color: #717274;
  display: flex;
  align-items: center;
  transition: border-color ease-in-out .2s;
}

.Reactions .Btn__reaction:hover {
  border-color: #0576b9;
}

.Reactions__counter {
  margin: 0 1px 0 2px;
}

.Reactions__item--has-user .Btn__reaction {
  background-color: rgba(5,118,185,.05);
  border-color: rgba(5,118,185,.3);
}

.Reactions__item--has-user .Reactions__counter {
  color: rgba(5,118,185,1);
}