.ScrollBar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ps__rail-y {
  width: 10px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 6px;
}

.ScrollBar .ScrollBar__container > [role="listitem"]:last-child {
  margin-bottom: 21px;
}