.Scrollable {
  overflow-y: hidden;
  position: relative;
  height: 100%;
}

body.reaction-modal-open .Scrollable__body {
  overflow: hidden;
}

.Scrollable__body {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: auto;
}