.SearchModal .Modal {
  position: absolute;
  top: 9px;
  right: 109px;
  left: 109px;
  bottom: 9px;
  border-radius: 6px;
  height: initial;
}

.SearchModal .Modal__body,
.SearchModal .Modal__inner-body {
  height: 100%;
  width: 100%;
}

.SearchModal--new .Modal {
  bottom: initial;
}

.SearchModal--new .Modal__inner-body {
  height: auto;
}

.SearchModal .Modal__inner-body {
  padding-top: 50px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #F7FAFC;
  position: relative;
}

.SearchModal--empty .Modal {
  bottom: initial;
}

.SearchModal .ScrollBar__container {
  position: relative;
  display: flex;
  flex: 1;
  padding: 15px;
}

.SearchModal__searchbar {
  display: flex;
  padding: 4px 20px;
  border-bottom: 1px solid #DFE6E9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #FFF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.SearchModal .Btn__modal-close {
  display: flex;
  color: #636E72;
  padding: 0 10px;
}

.SearchModal .SearchBar .Btn__clear::after {
  content: "|";
  color: #DFE6E9;
  padding-left: 10px;
}

.SearchModal .SearchBar .Btn__searchbar {
  padding: 0 10px;
}

.SearchModal .SearchBar .Btn__clear {
  display: flex;
  padding-left: 10px;
}

.SearchModal .SearchBar .SearchBar__input {
  line-height: 1.6;
  font-size: 16px;
  padding: 8px 4px;
}

@media screen and (max-width: 768px) {
  .SearchModal .Modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
  }

  .SearchModal .Modal,
  .SearchModal .Modal__inner-body {
    border-radius: 0;
  }

  .SearchModal--new .Modal__inner-body {
    height: 100%;
  }
}