.SearchModalResults {
  width: 80%;
  padding: 0 15px;
}

.SearchModalResults__count {
  color: #636E72;
  margin: 0 0 15px;
}

.SearchModal--new .SearchModalResults__empty-txt {
  display: block;
}

.SearchModalResults__empty-txt {
  color: #636E72;
  display: none;
}

.SearchModal--new .SearchModalResults__count {
  display: none;
}