.SearchBar,
.SearchBar__hoverable {
  display: flex;
  width: 100%;
}

.SearchBar {
  position: relative;
  align-items: center;
}

.SearchBar__input {
  cursor: auto;
  font-size: inherit;
  width: 100%;
  border: none;
}

.SearchBar__input:focus {
  outline: none;
}

.SearchBar .Btn__searchbar,
.SearchBar .Btn__clear {
  color: #636E72;
}

.SearchBar--disabled .SearchBar__disabled-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 100;
}

.SearchBar--disabled .Btn__clear {
  z-index: 200;
}
