.SearchModal {
  background-color: rgba(0, 0, 0, 0.2);
}

.SearchModal .Modal {
  position: absolute;
  top: 9px;
  right: 109px;
  left: 109px;
  bottom: 9px;
  border-radius: 6px;
  height: initial;
}

.SearchModal .Modal__body,
.SearchModal .Modal__inner-body {
  height: 100%;
  width: 100%;
}

.SearchModal--new .Modal {
  bottom: initial;
}

.SearchModal--new .Modal__inner-body {
  height: auto;
}

.SearchModal .Modal__inner-body {
  padding-top: 50px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #F7FAFC;
  position: relative;
}

.SearchModal--empty .Modal {
  bottom: initial;
}

.SearchModal .ScrollBar__container {
  position: relative;
  display: flex;
  flex: 1;
  padding: 15px;
}

.SearchModal__searchbar {
  display: flex;
  padding: 4px 20px;
  border-bottom: 1px solid #DFE6E9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #FFF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.SearchModal .Btn__modal-close {
  display: flex;
  color: #636E72;
  padding: 0 10px;
}
