.SearchModalFilter {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.SearchModalFilter__channel {
  margin-bottom: 7px;
}

.SearchModalFilter__people .SearchModalFilter__prefix {
  width: 28px;
}

.SearchModalFilter__channel .SearchModalFilter__prefix {
  width: 28px;
}

.SearchModalFilter__label {
  font-weight: 600;
}

.SearchModalFilter__checkbox {
  margin-left: auto;
}