.SearchBar {
  display: flex;
  width: 100%;
}

.SearchBar__input {
  cursor: auto;
  line-height: 1.6;
  font-size: 16px;
  padding: 8px 4px;
  width: 100%;
  border: none;
}

.SearchBar__input:focus {
  outline: none;
}

.Btn__searchbar {
  color: #636E72;
  padding: 0 10px;
}

.SearchBar .Btn__clear {
  display: flex;
  color: #636E72;
  padding-left: 10px;
}

.SearchBar .Btn__clear::after {
  content: "|";
  color: #DFE6E9;
  padding-left: 10px;
}