.SessionForm {
  text-align: center;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media only screen and (max-width : 1200px) {
  .SessionForm {
    padding-top: 120px;
  }
}

.Form__session {
  width: 450px;
  margin: 160px auto 0;
}

.PublicView__signin,
.PublicView__signup {
  background-color: #6C5CE7;
  min-height: 100vh;
}

.PublicView__signin .Page__title,
.PublicView__signup .Page__title {
  margin-top: 0;
  color: #FFF;
}

.SessionForm .errors {
  background-color: #E17055;
  border: 0;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

.SessionForm .Form__control {
  border-color: #FFF;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  border-style: solid;
  border-width: 2px;
}

.SessionForm .Btn__submit {
  margin-top: 20px;
  padding: 15px 10px;
  background-color: #00b894;
  border-color: #00b894;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out 
}

.SessionForm .Btn__submit,
.SessionForm .Form__control,
.SessionForm .errors {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  color: #FFF;
}

.SessionForm .Btn__submit:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background-color: #32c6a9;
}

.SessionForm ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.8);
}
.SessionForm ::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,.8);
}
.SessionForm :-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,.8);
}
.SessionForm :-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,.8);
}