.SingleMessageThread {
  font-size: small;
  text-decoration: none;
  padding: 2px 0;
  margin: 3px -4px 0;
}

.SingleMessageThread__link {
  display: block;
  padding: 3px 4px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 3px;
  transition: border-color ease-in-out .2s;
}

.SingleMessageThread__link:hover {
  border-color: #e8e8e8;
}

.SingleMessageThread__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.SingleMessageThread__avatars .Avatar {
  margin-right: 3px;
}

.SingleMessageThread__avatars .Avatar:last-child {
  margin-right: 0;
}

.SingleMessageThread__items .SingleMessageThread__item {
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.SingleMessageThread__items .SingleMessageThread__item:first-child {
  margin-left: 0;
}

.SingleMessageThread .SingleMessageThread__counter:hover {
  text-decoration: underline;
}

.SingleMessageThread__date {
  color: rgba(0,0,0,.5);
}