.StatusIcon__online {
  color: #00CEC9;
}

.StatusIcon__offline {
  color: #636E72;
}

.Sidebar .StatusIcon__online {
  color: rgb(85,239,196,.5);
}

.Sidebar .MenuItem .StatusIcon__offline {
  color: rgba(255,255,255,0.4);
}