.Workspace {
  display: flex;
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

.Workspace--loading .Workspace__quote {
  margin: 0;
}

.Workspace--loading .Workspace__quote footer {
  display: block;
  color: #636E72;
  margin-top: 12px;
  font-weight: 400;
  font-size: .8em;
}

.Workspace--loading .EmptyDisplay__txt {
  padding: 0 20px;
}
