body {
  margin: 0;
}

.header__home {
  padding: 1em 0;
}

.navbar__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.menu__primary-menu {
  margin: 0 0 0 auto;
  list-style: none;
  padding: 0 1.75em;
}