.sidebar__right {
  width: 500px;
  border-left: 1px solid #E9E9E9;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.sidebar__header {
  background-color: #F5F5F5;
  padding: 15px 12px;
  border-bottom: 1px solid #E9E9E9;
}

.btn__close {
  margin-left: auto;
  border: none;
}

.sidebar__title {
  margin: 0;
}