.Form__message {
  display: flex;
  flex-direction: row;
}

.Form__message .Form__body {
  width: 100%;
}

.Form__message .Btn__submit {
  display: block;
}

.Sidebar .Form__message {
  padding: 10px;
}