.msg .btn-group__msg-hover-menu {
  background-color: #FFF;
  border: 0.5px solid rgba(0,0,0,0.18);
  border-radius: 3px;
  padding: 0 3px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  display: flex;
  position: absolute;
  top: -8px;
  right: 16px;
}

.thread .msg .btn-group__msg-hover-menu {
  top: 10px;
  right: 10px;
}

.btn-group__msg-hover-menu:hover {
  -webkit-box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  box-shadow: 0px 0.5px 1px -0.5px rgba(0,0,0,0.33);
  border-color: rgba(0,0,0,0.28);
}

.btn-group__msg-hover-menu .btn {
  border-width: 0;
  padding: 3px 6px;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  border-right: 0.5px solid rgba(0,0,0,0.18);
}

.btn-group__msg-hover-menu .btn:last-child {
  border-right: 0;
}

.btn-group__msg-hover-menu .btn:hover {
  color: #0576b9;
}