.ModalProfile__tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #A8A9B0;
}

.ModalProfile__tabs .Btn {
  margin: 0 6px -1px;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #A8A9B0;
  font-weight: 700;
}

.ModalProfile__tabs .Btn:focus {
  outline: 0;
}

.ModalProfile__user .Btn__tab-user,
.ModalProfile__password .Btn__tab-pw {
  background-color: #FFF;
  color: #636E72;
  border-top: 1px solid #A8A9B0;
  border-left: 1px solid #A8A9B0;
  border-right: 1px solid #A8A9B0;
  border-bottom: 1px solid transparent;
}

.ModalProfile__user .Btn__tab-pw:hover,
.ModalProfile__password .Btn__tab-user:hover {
  border-top: 1px solid #dfe6e9;
  border-left: 1px solid #dfe6e9;
  border-right: 1px solid #dfe6e9;
  border-bottom: none;
  margin-bottom: 0;
  color: #8E9098;
}

.ModalProfile__body {
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .ModalProfile__tabs {
    font-size: 14px;
  }
}