.Channel .MessageForm {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  background-color: #FFF;
}

.Channel .MessageForm {
  padding: 0 18px 20px;
}

.MessageForm--inactive {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(113, 114, 116, 0.8);
  border-radius: 5px;
  transition: border ease-in-out .15s;
}

.MessageForm .Btn__inactive-editor {
  text-align: left;
  padding: 12px 8px;
  width: 100%;
}

.MessageForm--inactive:hover {
  border: 1px solid rgba(113, 114, 116, 0.8);
}

.MessageForm--inactive:hover .Btn {
  color: #757D8B;
}

.MessageForm--inactive .Btn {
  color: #9197A3;
  transition: color ease-in-out .15s;
}

.MessageForm--inactive .Btn:focus {
  outline: none;
}
