.LeftSidebar {
  width: 242px;
  flex-shrink: 0;
}

.LeftSidebar__body {
  background-color: #4D394B;
  color: rgba(255, 255, 255, 0.8);
}

.LeftSidebar__body .ScrollBar__container {
  padding-bottom: 20px;
}

.LeftSidebar__body a {
  color: inherit;
}

.LeftSidebar__body .ps__rail-y,
.LeftSidebar__body .ps .ps__rail-y:hover,
.LeftSidebar__body .ps .ps__rail-y:focus,
.LeftSidebar__body .ps .ps__rail-y.ps--clicking {
  background-color: transparent;
}

.Modal__overlay--left-sidebar {
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 991px) {
  .LeftSidebar {
    width: 208px;
  }
}

@media screen and (max-width: 768px) {
  .LeftSidebar {
    display: none;
  }
}