.ChatroomSwitch__row > .Drawer {
  max-width: 480px;
  border-left: 1px solid #E9E9E9;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  flex: 1;
}

.Drawer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F5F5F5;
  padding: 18px 12px;
  border-bottom: 1px solid #DFE6E9;
  font-weight: bold;
}

.Drawer__header-title {
  margin: 0;
  font-size: 1.25em;
}

.Drawer .Btn__close {
  margin: 0 8px 0 auto;
  border: none;
  color: #636E72;
  font-size: 1.25em;
}

.Drawer .Btn__close:focus {
  outline: 0;
}

.Drawer__title {
  margin: 0;
}

.Drawer__subtitle {
  font-size: 80%;
  display: block;
}

.Drawer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Drawer__body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Modal__overlay--styled .Drawer {
  margin-top: -20px;
}
