.DrawerConvo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.DrawerConvo .Message:first-child .Message__container {
  padding: 10px 18px;
}

.DrawerConvo .Message:not(:first-child) .Message__container {
  padding: 6px 18px;
}

.DrawerConvo .Message:nth-child(2):before {
  height: 1px;
  display: block;
  content: "";
  position: absolute;
  top: -12px;
  right: 18px;
  left: 18px;
  background: #e8e8e8;
}

.DrawerConvo .Message:nth-child(2) {
  margin-top: 18px;
}

.DrawerConvo .Message:first-child .MessageHoverMenu {
  top: 10px;
  right: 18px;
}

.DrawerConvo .Message:not(:first-child) .MessageHoverMenu {
  top: -5px;
  right: 18px;
}

.DrawerConvo .MessageForm  {
  margin: 15px 16px;
}

.DrawerConvo .MessageForm .Editor {
  border-width: 1px;
}

.DrawerConvo .MessageForm .Btn__submit {
  margin-left: auto;
  display: block;
  margin-top: 10px;
}
