.Btn__unstyled {
  border-style: none;
  text-transform: none;
  padding: 0;
}

.Btn > * {
  pointer-events: none;
}

.Btn__styled {
  border: 1px solid #A8A9B0;
  border-radius: 4px;
  padding: 8px 10px;
  color: #636E72;
  font-weight: 700;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: all ease-in-out .2s;
}

.Btn__styled:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}

.Btn__styled:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.Btn__green {
  background-color: #00B894;
  border-color: #009F7F;
  color: #FFF;
}

.Btn__green:focus {
  box-shadow: 0 0 0 3px rgba(0, 184, 148, 0.4);
}

.Btn__white {
  background-color: #FFF;
}

.Btn__xs {
  padding: 4px 8px;
  font-size: 13px;
}

.Btn__sm {
  padding: 6px 8px;
  font-size: 14px;
}

.Btn__lg {
  padding: 12px 14px;
  font-size: 18px;
}

.Btn:hover,
.Btn:focus {
  cursor: pointer;
}

.Btn > svg {
  display: inline-block;
}
