.menu__link {
  color: rgba(255,255,255,0.6);
}

.menu__link--active {
  pointer-events: none;
}

.menu-item--unread {
  color: #FFF;
  font-weight: bold;
}

.widget__header {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.widget__title {
  display: block;
}

.widget__header .btn__channels {
  display: block;
  margin-left: auto;
}